@font-face {
   font-family: 'GenWanMinTW-Medium';
   font-display: swap;
   src: url('GenWanMinTW-Medium/GenYoGothicTW-Bold.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-ExtraLight';
   font-display: swap;
   src: url('GenRyuMinTW-ExtraLight/GenYoGothicTW-ExtraLight.ttf');
}
